<body>
  <div class="media">
    <div class="media__image">
      <svg class="icon">
        <use xlink:href="sprites/sprite.svg#snap"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="meia__title">Easy Start & Managed Updates</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
        reiciendis sunt. Iure ratione ad expedita quis reprehenderit.
        Aspernatur, dolorem consequatur?
      </p>
    </div>
  </div>
</body>
