.container {
    display: flex;
    flex-direction: column;
}

.box {
    background-color: gold;
    padding: 1rem;
}

.box:nth-last-of-type(2) {
    background-color: dodgerblue;
}

@media screen and (min-width: 600px) {
 .container {
    flex-direction: row;
 }   
}

@media print {
    body {
        font-size: 12pt;
    }

    .box {
        padding: 0.5cm;
    }
}