
body {
    height: 200vh;
}

.boxes {
    border: 3px solid lightgray;
    position: relative;
}

.box {
    width: 5rem;
    height: 5rem;
}
.box-one {
    background-color: gold;
    position: absolute;
    right: 0;
    bottom: 0;
}

.box-two {
    background-color: tomato;
    position: relative;
    left: 4rem;
    top: 2rem;
    z-index: 0;

}

.box-three {
    background-color: dodgerblue;
    position: fixed;
    left: 2rem;
    right: 2rem;
    width: auto;

}