html {
    font-size: 62.5%;
    
}
body{
    font-size: 1.6rem;
    /* background: url("/Images_styling/images/hubble.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; */

}

picture img {
    height: 100vh;
    pos
}